<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}">Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}

    {% if page.url != "/quotes/" %}
        {% if site.quotesPage %}
            <a href="{{ site.baseurl }}quotes">Quotes </a>
        {% endif %}
    {% endif %}

    <!-- <a class="cta" href="{{ site.baseurl }}feed.xml">RSS</a> -->
</nav>