<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="My Blog" href="{{ site.baseurl }}rss.xml">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/highlight.css">

<!--fundamine plugin -->

<![if lt IE 9]><script type="text/javascript">
    var s = document.createElement("script"); s.type = "text/javascript";s.src = "http://www.fundamine.com/fundamineannotate?fmrequestorurl="+window.location.href.split("?");
    document.getElementsByTagName("head")[0].appendChild(s);
</script><![endif]>

<!--sumome plugin --> 

<script src="//load.sumome.com/" data-sumo-site-id="9ab9472d0d4be1e3018f7e4143e4d815f5d3b7d5bce0b041f56a425c97d35b29" async="async"></script>

<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, r;
    e = 3e5, r = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + r + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.2.0'
drift.load('tu48hm2feum5')
</script>
<!-- End of Async Drift Code -->

</head>
<body>

  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}assets/js/main.js"></script>
  <script src="{{ site.baseurl }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>



