---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="{{ site.baseurl }}assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Older / New posts -->

<div style="text-align:center">
    {% if page.previous %}
        <a {% if page.previous %}href="{{ page.previous.url }}"{% endif %}>&lt; Last</a>
    {% endif %}
    {% if page.next %}
    |
        <a {% if page.next %}href="{{ page.next.url }}"{% endif %}>Next &gt;</a>
    {% endif %}
</div>

<hr>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!--Old Archive post list 
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts limit:5 %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

-->

<!-- Related post list --> 
<ul id="post-list" class="archive readmore">
    <h3>You Might Also Like</h3>
        {% for rel in site.related_posts limit:5 %}
            <li>
                <a href="{{ rel.url }}">{{ rel.title }}<aside class = "dates">{{ rel.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>


